.bg-dark {
    background-color: black;
}

.intel-screen {
    background-color: #0071C5;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: 10px white solid;
}

.intel-title {
    
}

.intel-paragraph {
    text-align: center;
    height: 400px;
    font-size: 20px;
}

.intel-paragraph p.emphasized {
    font-weight: bold;
}




/* http://stackoverflow.com/questions/21064234/bootstrap-3-3-row-stick-on-top-and-bottom  */