.bg-dark {
    background-color: black; 
}

.intel-screen {
    background-color: #0071C5;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 200px;
}

.intel-title {
    background-color: white;
    height: 100px;
    padding-top: 10px;
}

.intel-paragraph {
    padding: 20px 100px;
    height: 200px;
    font-size: 18px;
    line-height: 1.5;
}

.intel-paragraph p.emphasized {
    font-weight: bold;
}





.bottom-line-modal .btn {
    background-color: #00AEEF; 
    font-size: 16px;
    color:white;
    border-radius: 6px;
    padding: 5px 40px;
}





.intel-paragraph #age-checkbox {
    width:20px;
    height: 20px;
}












/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/*  for modal in scratch  */


.intel-screen-modal {
    background-color: #0071C5;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: 1px white solid;
    margin: 0 auto;
    width: 800px;
}

.intel-paragraph-modal {
    height: 200px;
    margin: 0 auto;
    width: 600px;
    
}

.intel-paragraph-modal h2 {
    text-align: left;
}

.bottom-line-modal {
    background-color: white;
    height: 80px;
    text-align: center;
    padding-top: 30px;
}