.bg-dark {
    background-color: black; 
}

.intel-screen {
    background-color: #0071C5;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 200px;
} 

.intel-title {
    
}

.intel-paragraph {
    padding: 20px 50px;
    height: 200px;
    font-size: 18px;
    line-height: 1.5;
}

.intel-paragraph p.emphasized {
    font-weight: bold;
}

.bottom-line-modal .btn {
    background-color: #00AEEF;
    font-size: 16px;
    color:white;
    border-radius: 6px;
    padding: 5px 40px;
    border: 0px;
}

.bottom-line-modal .btn:hover {
    background-color: #286090;
}

.intel-paragraph .checkbox {
    text-align: center;
}

.intel-paragraph #age-checkbox {
    width: 25px;
    height: 25px;
}



.intel-paragraph a {
    color: #FFF700;
}
.intel-paragraph a:hover {
    color: #7C6F23;
}





/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/*  for modal in scratch  */


.intel-screen-modal {
    background-color: #ffffff;
    color: #1c272d;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border: 1px white solid;
    margin: 0 auto;
    width: 650px;
}

.intel-paragraph-modal {
    height: 200px;
}

.intel-paragraph-modal h2 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.bottom-line-modal {
    background-color: white;
    color: black;
    height: 80px;
    text-align: center;
    padding-top: 30px;
}